body {
text-shadow: 2px 2px 3px #000;
padding-left: 15em;
font: 150% sans-serif;
    color: white;
    background-image: url("fondo.jpg") }
 ul.navbar {
list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;
    top: 2em;
    left: 3em;
    width: 9em }

ul.navbar li {
    background: #352b2c;
    margin: 0.5em 0;
    padding: 0.3em;}
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: #55a6e0 }
  a:visited {
    color: #edc2f9}